[core]
strictLevel:1

[resource_exp]
displayName       : 经验值
displayRoundedDown: true

[resource_selfExtraPrice]
displayName       : 自身经验加权
displayRoundedDown: true

[resource_grade]
displayName       : 等级
displayRoundedDown: true


[graphics]
shadowOffsetX:2
shadowOffsetY:2



[resource_UnitPrice]
hidden:true
[resource_UnitRadius]
hidden:true
[hiddenAction_initResTagCount]
autoTriggerOnEvent:created
setResourcesWithLogic:UnitPrice=${core.price}, UnitRadius=${core.radius}
